:root {
--black: #212329;
--red: #F9423D;
--white: #fbfbfb;
--lightred: #f9433dcc;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}


/*NAVBAR*/

.nav-container {
  width: 100%;
  background-color: var(--white);
}

.navbar {
  display: flex;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
}

.nav-links {
  color: var(--black);
  text-decoration: none;
}

.nav-links:hover {
  color: var(--red);
  transition: all 0.2s ease-out;
}

#navbar-logo {
  justify-self: start;
  height: 80%;
  margin-left: 20px;
}

#navbar-logo {
  cursor: pointer;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background: var(--black);
}

.footer {
  overflow: hidden;
  background: var(--headerbackground);
  color: var(--white);
  padding-top: 2em;
}


  /*************************
       Min-width 1200px 
  **************************/

@media (min-width: 1200px) {
  }

@media (min-width: 992px) {
  }

  /*************************
        Min-width  768px 
  **************************/
  @media screen and (max-width: 768px) {

    
    .nav-container {
      position: relative;
    }

    .nav-menu {
      display: grid;
      grid-template-columns: auto;
      background: var(--lightred);
      margin: 0;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: all 0.5 ease;
    }

    #navbar-logo {
      margin-left: 20px;
    }

    .nav-menu.active {
      background-color: var(--black);
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .nav-links {
      text-align: center;
      color:#fbfbfb;
      line-height: 60px;
      display: table;
      width: 100%;
    }

    .nav-links:hover {
      color: var(--white);
      background-color: var(--lightred);
      transition: all 0.4s ease-out;
    }

    .navbar {
      width: 100%;
    }

    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }

    .menu-toggle .bar {
      display: block;
      cursor: pointer;
    }

    .menu-toggle:hover {
      cursor: pointer;
    }
    
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8) rotate(-45deg);
    }
  }


    /*************************
         Min-Width: 600px 
    **************************/
  @media screen and (min-width: 600px) {
  }